body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #333;
}

section {
    background: white;
    grid-template-columns: 1fr 1fr; /* Divide el espacio en dos columnas iguales */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    width: 80%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
}

button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #0056b3;
}

#ventasResponse, #calidadResponse, #trazabilidadResponse {
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    height: auto;
}

#ventasResponse p, #calidadResponse p, #trazabilidadResponse p {
    color: #333;
    height: auto;
}

/* Reset básico para la lista */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Estilos para la barra de navegación */
nav {
    background-color: #95c7f8; /* Color de fondo oscuro */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra ligera para dar profundidad */
    width: 100%; /* Asegura que la barra ocupe todo el ancho */
}

/* Estilos para los elementos de la lista */
nav ul {
    display: flex; /* Utiliza flexbox para un mejor control del layout */
    justify-content: center; /* Centra los elementos de la lista horizontalmente */
    align-items: center; /* Centra los elementos de la lista verticalmente */
    height: 60px; /* Altura fija para la barra de navegación */
    margin: 0; /* Remueve márgenes por defecto */
    padding: 0; /* Remueve padding por defecto */
}

nav ul li {
    margin: 0 20px; /* Espaciado horizontal entre elementos */
}

/* Estilos para los enlaces */
nav ul li a {
    color: #ecf0f1; /* Color claro para el texto */
    text-decoration: none; /* Remover el subrayado del enlace */
    padding: 10px 15px; /* Espaciado alrededor del texto */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s; /* Transición suave para el hover */
}

/* Estilos para el enlace activo o en hover */
nav ul li a:hover, nav ul li a.active {
    background-color: #3498db; /* Color de fondo cuando se pasa el mouse o está activo */
    color: white;
}


.response-array {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.array-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.array-item:last-child {
    margin-bottom: 0; /* Remueve el margen del último elemento */
}

.response-object p, .response-array > .response-primitive {
    margin: 5px 0;
    color: #333;
}

.response-object p strong {
    color: #2c3e50;
}

/* Estilos adicionales para los formularios individuales */
form {
    margin-bottom: 20px; /* Esto separará cada formulario */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

/* Este estilo se aplica a todas las secciones de contenido cuando están activas */
.content-section.active {
    display: grid; /* Usa CSS Grid */
    grid-template-columns: 1fr 1fr; /* Divide el espacio en dos columnas iguales */
    justify-content: space-between; /* Espacio distribuido uniformemente */
    align-items: flex-start; /* Alinea los elementos al inicio del contenedor */
    width: 75%; /* Usa el 100% del ancho de la ventana */
    padding: 20px; /* Agrega algo de padding interno */
}

/* Los contenedores de formularios y respuesta ahora son flex-items */
.forms, #trazabilidadResponse, #ventasResponse, #calidadResponse {
    flex: 1; /* Cada uno tomará una parte igual del espacio disponible */
    margin: 10px; /* Añade un poco de margen entre ellos */
}

/* Estilos específicos para el contenedor de respuesta */
#trazabilidadResponse, #ventasResponse, #calidadResponse {
    padding: 10px;
    border-radius: 5px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    overflow-y: auto; /* Permite el desplazamiento si hay mucho contenido */
    min-height: 200px; /* Altura automática basada en el contenido */
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual ancho */
    gap: 20px; /* Espacio entre las columnas */
}